{% extends "base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}

{% load staticfiles %}

{% block title %}Homepage{% endblock %}

{% block content %}
<h1 class="ui teal image header">Welcome {{request.user.username}} !</h1>

<div class="two column stackable ui grid padded">
    <div class="column">
            <div class="ui card">
                <div class="content">
                    <div class="header">Notification</div>
                </div>
                <div class="content">
                    <div class="ui small feed">
                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    Notification 1
                                    <i class="hide icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    Notification 2
                                    <i class="hide icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    Notification 3
                                    <i class="hide icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                 <div class="extra content">
                     <button class="ui button">See all</button>
                 </div>
        </div>
    </div>
    <div class="column">
        {% include "pages/card.html" %}
    </div>
</div>
{% endblock %}
